name: Tests

on: [push, pull_request]

jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements.txt
          python -m pip install flake8
          python -m pip install mypy types-requests types-lxml
      - uses: psf/black@stable
        with:
          options: "-l 88 --check --verbose"
      - name: Flake8
        run: flake8 . --max-line-length=88 --count --statistics
      - name: mypy
        run: mypy . --ignore-missing-imports
